# Diminutive Suffix Productivity: statistics and analysis

**Summary and overview:**

- This notebook is a continuation of the [exploratory analysis and further cleaning notebook](https://github.com/Data-Science-for-Linguists-2020/Diminutive-Suffix-Productivity/blob/master/code/corpus_processing.ipynb) in my repository. The purpose is to use the master data frame previously created to make statistical analysis of productivity.

**Contents:**
1. [Preparation](#1.-Preparation): includes the necessary preparations and loading of the files.
2. [Further cleaning and manipulation](#2.-Further-cleaning-and-manipulation): includes code for performing further cleaning on the data. New, refined columns needed for explatory analysis are also added.
3. [Exploratory analysis](#3.-Exploratory-analysis): the start of the analysis, with a focus on descriptive statistics and data visualization.
4. [Storing files](#4.-Storing-files): includes code for storing the results as pickled files.

## 1. Preparation

- Loading libraries and additional settings:

In [1]:
#Importing libraries
import pickle, re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Turning pretty print off:
%pprint

#Releasing all output:                                            
from IPython.core.interactiveshell import InteractiveShell #Prints all commands rather than the last one.
InteractiveShell.ast_node_interactivity = "all"

Pretty printing has been turned OFF

- Loading pickle files:

In [2]:
master_DF = pickle.load(open('master_DF.pkl', 'rb'))
lexicon = pickle.load(open('lexicon.pkl', 'rb'))

Double checking that they were saved as the right type:

In [7]:
##

type(master_DF)
type(lexicon)

###

master_DF.shape
lexicon.shape

(1683096, 10)

(7952790, 4)

## 2. Statistical measures of productivity

In [50]:
foo = master_DF[master_DF.Variety=='MX']

In [59]:
foo.describe()

,SourceID,TokenID,Lemma,Word,POS,Variety,POS_binary,Number,Gender,Diminutive
count,197457,197457,197457,197457,197457,197457,197457,197457,197457,197457
unique,68288,197457,11499,15037,11,1,2,3,3,2
top,2045491,79691775,poquito,poquito,n,MX,Noun,unknown,unknown,-ito
freq,589,1,6599,5961,100984,197457,155017,129339,129339,170995

In [80]:
foo.groupby('Diminutive').describe().T #You can get token counts and type counts (unique) from here

Diminutive              -illo      -ito
SourceID   count        26462    170995
           unique       15159     61136
           top        2045491   2045491
           freq           158       431
TokenID    count        26462    170995
           unique       26462    170995
           top     2020802559  79691775
           freq             1         1
Lemma      count        26462    170995
           unique        1960      9539
           top       liguilla   poquito
           freq          1214      6599
Word       count        26462    170995
           unique        2166     12872
           top       liguilla   poquito
           freq           772      5961
POS        count        26462    170995
           unique           6        11
           top            nfs         n
           freq         12724     96629
Variety    count        26462    170995
           unique           1         1
           top             MX        MX
           freq         26462    170995
POS_binary count        26462    170995
           unique           2         2
           top           Noun      Noun
           freq         25080    129937
Number     count        26462    170995
           unique           2         3
           top       singular   unknown
           freq         20860    123737
Gender     count        26462    170995
           unique           3         3
           top       feminine   unknown
           freq         12794    123737

In [52]:
df = foo.groupby('Word').filter(lambda x: len(x) == 1) #Filtering out hapax
df

,SourceID,TokenID,Lemma,Word,POS,Variety,POS_binary,Number,Gender,Diminutive
159505,749140,1912665975,buchesito,buchesitos,j,MX,Adjective,unknown,unknown,-ito
222763,749960,1688597889,contentito,contentito,j,MX,Adjective,unknown,unknown,-ito
222890,749960,1688598016,homvbrecito,homvbrecito,n,MX,Noun,unknown,unknown,-ito
225193,749980,1743453054,gordillo,gordilla,j,MX,Adjective,unknown,unknown,-illo
246053,750060,829364236,extraquesoamarillo,extraquesoamarillo,j,MX,Adjective,unknown,unknown,-illo
...,...,...,...,...,...,...,...,...,...,...
14534104,2109619,1879208371,blojito,blojitos,n,MX,Noun,unknown,unknown,-ito
14732790,2112139,1993842343,preinscrito,preinscrito,j,MX,Adjective,unknown,unknown,-ito
14808886,2113139,1993843135,permisito,permisita,j,MX,Adjective,unknown,unknown,-ito
14834314,2113269,1783276961,radilla,radilla,n,MX,Noun,unknown,unknown,-illo
14859442,2113689,1897880827,faavorito,faavorito,j,MX,Adjective,unknown,unknown,-ito

In [95]:
df['Diminutive'].value_counts() #Hapax by diminutive

-ito     6131
-illo    1060
Name: Diminutive, dtype: int64

In [90]:
dua.loc['Word'] #Almost done. Only missing is a row for hapaxes and we can get to mathetical operations.

Diminutive     -illo     -ito
count          26462   170995
unique          2166    12872
top         liguilla  poquito
freq             772     5961

In [99]:
jazmine.loc['hapax'] = lipa

In [100]:
jazmine

Diminutive     -illo     -ito
count          26462   170995
unique          2166    12872
top         liguilla  poquito
freq             772     5961
Hapax           1060     6131
hapax           1060     6131

## 3. Inferential statistics

## 4. Summary